.app {
  &__type {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__password {
    margin-bottom: 10px;

    @media (min-width: 768px) {
      margin-bottom: 20px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 30px;
    }
  }

  &__strenght {
    margin-bottom: 35px;

    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__length {
    margin-bottom: 30px;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }

    .label {
      margin-bottom: 15px;

      @media (min-width: 768px) {
        min-width: 175px;
        margin-bottom: 0;
      }

      @media (min-width: 1280px) {
        min-width: 215px;
      }
    }

    .length {
      width: 100%;
    }
  }

  &__characters {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }

    .label {
      margin-bottom: 15px;

      @media (min-width: 768px) {
        min-width: 175px;
        margin-bottom: 0;
      }

      @media (min-width: 1280px) {
        min-width: 215px;
      }
    }
  }
}
