.app {
  &__type {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__password {
    margin-bottom: 10px;
  }

  &__strenght {
    margin-bottom: 35px;
  }

  &__length {
    margin-bottom: 30px;
  }

  &__characters {
    display: flex;
    flex-direction: column;
  }
}
