.checkbox {
  input {
    display: none;
  }

  label {
    display: block;
    box-sizing: border-box;
    height: 35px;
    padding: 0 10px;
    border: 1px solid $main;
    border-radius: 5px;
    font-size: 16px;
    line-height: 35px;
    color: $main;
    text-align: center;
  }

  input:checked + label {
    color: $white;
    background-color: $main;
  }
}
