.radio-group {
  display: flex;

  &__button {
    input {
      display: none;
    }

    label {
      box-sizing: border-box;
      border: 1px solid $main;
      color: $main;
      display: block;
      text-align: center;
      width: 106px;
      padding: 6px 0;
      font-size: 14px;
      line-height: 1.5;
    }

    input:checked + label {
      color: $white;
      background-color: $main;
    }

    &:first-child label {
      border-radius: 5px 0px 0px 5px;
    }

    &:last-child label {
      border-radius: 0 5px 5px 0;
    }
  }
}
