@import "./colors";

html,
body {
  height: 100%;
}

body {
  background-color: $bg;
  color: $text;
  font-size: 16px;
  line-height: 1.2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  height: 100%;
  padding: 0 13px;
}

.logo {
  position: absolute;
  width: 59px;
  height: 21px;
  left: 13px;
  top: 20px;
}

.app {
  margin-top: 100px;

  &__type {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__password {
    margin-bottom: 10px;
  }

  &__strenght {
    margin-bottom: 35px;
  }

  &__length {
    margin-bottom: 30px;
  }
}

.radio-group {
  display: flex;

  &__button {
    input {
      display: none;
    }

    label {
      box-sizing: border-box;
      border: 1px solid $main;
      color: $main;
      display: block;
      text-align: center;
      width: 106px;
      padding: 6px 0;
      font-size: 14px;
      line-height: 1.5;
    }

    input:checked + label {
      color: $white;
      background-color: $main;
    }

    &:first-child label {
      border-radius: 5px 0px 0px 5px;
    }

    &:last-child label {
      border-radius: 0 5px 5px 0;
    }
  }
}

.password {
  display: flex;

  &__field {
    position: relative;
    height: 50px;
    max-width: 100%;
    background-color: $white;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: auto;

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      left: 0;
      box-shadow: 0 0 15px 25px $white;
    }
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      right: 0;
      box-shadow: 0 0 15px 25px $white;
    }
  }

  &__button {
    box-sizing: border-box;
    min-width: 55px;
    height: 50px;
    background-color: $main;
    outline: none;
    user-select: none;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;

    & img {
      width: 16px;
    }
  }
}

.strenght {
  display: flex;
  align-items: center;

  &__estimate {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: $border;
    border-radius: 5px;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: $excellent;
      border-radius: 5px;
    }
  }

  &__label {
    font-size: 10px;
    margin-left: 20px;
  }
}

.label {
}

.checkbox {
}
.button-info {
}
